<h1>Make New Playlist</h1>

<form action="/">
    <label for="text">Give your playlist a name</label><br><br>
    <input type="tel" id="phone" name="phone" placeholder="#1 playlist">
    <button type="submit">Make new playlist</button>
</form> 
  