h1{
    text-align: center;
}

/* lessons */
button {
    background-color: #139943;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border:none; 
    color: white; 
    font-size: 14px; 
    text-align: center; 
    cursor: pointer;
    padding: .5em;
    border-radius: .5em;
    align-items: center;
}

#own-playlist{
    display: flex;
    flex-direction: row;
    gap: 1em;
}


/* default-playlist */
.default-playlist{
    display: grid;
    grid-template-columns: 2fr, 1fr, 1fr;
    grid-template-rows: .5fr, 2fr;
    gap: .5em;

    background-color: white;
    color: black;
    border-radius: 5%;
    max-width: 50vw;
    padding: .5em;
}

.default-playlist svg{
    grid-area: 1/1/2/3;
    display: block;
    margin: auto;
}

.default-playlist p{
    grid-area: 2/1/3/3;
}

.default-playlist svg:nth-of-type(2){
    grid-area: 3/1/4/2;
}

.default-playlist p:nth-of-type(2){
    grid-area: 3/2/4/3;
}


/* add-playlist */
.add-playlist{
    display: flex;
    flex-direction: column;

    width: 50vw;
    align-items: center;
    background-color: #494375;
    padding: 1em;
    border-radius: 5%;
}

.add-playlist a{
    text-decoration: none;
    color: white;
}


#show-dialog-button {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

/* styling dialog :) */
dialog{
    border: none;
    width: 100%;
    height: 80vh;
    border-radius: 2.5em;
    color: black;
    background-color: #ffc2d1;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
}

.add{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto;
    background-color: transparent;
    color: black;
    font-size: 20px;
    font-family: 'Poppins-Regular', sans-serif;
    border: 1em black;
}

form button{
    background-color: pink;
    margin: auto;
}

#playlist-dialog{
    margin: 1em;
}

#playlist-dialog input{
    width: 100%;
    background-color: #ffe5ec;
    border: none;
    padding: .5em;
}